In [99]:
from scipy.interpolate import interp1d
import numpy as np

import shlex
import subprocess as sp

import prettyplotlib as ppl
from matplotlib import pyplot as plt
from matplotlib.ticker import FuncFormatter
import io
from pandas import read_csv
import os

os.chdir("/home/johnatan/Downloads/projects/alluxio/")

cmd = 'git log --no-merges --no-renames --numstat --pretty=format:"%x09%x09%x09%aN"'
p = sp.Popen(shlex.split(cmd), stdout=sp.PIPE)

stdout, _ = p.communicate()

table = read_csv(io.StringIO(stdout.decode('utf-8')), sep="\x09", header=None,names=['additions', 'deletions', 'path','author'])

# convert to DataFrame
commit_data = table[['additions', 'deletions', 'path']].join(table[['author']].fillna(method='ffill')).dropna()
commit_data.head()

#commit_data.to_csv("testeP.csv")

,additions,deletions,path,author
1,1,6,core/server/master/src/main/java/alluxio/maste...,Destiny
3,1,1,docs/cn/Running-Alluxio-On-Docker.md,yawenouyang
5,43,14,docs/cn/Running-Alluxio-on-EC2.md,tyt951021
7,1,7,core/server/worker/src/main/java/alluxio/worke...,zly245726114
9,1,6,core/server/worker/src/main/java/alluxio/worke...,1429904852

In [100]:
commit_data.filter(items=['path', 'author'])
commit_data['path'] = commit_data.path.apply(lambda x: x.split('.')[-1])
commit_data.head()

  additions deletions  path        author
1         1         6  java       Destiny
3         1         1    md   yawenouyang
5        43        14    md     tyt951021
7         1         7  java  zly245726114
9         1         6  java    1429904852

In [101]:
#amount  files java in total 
total=commit_data.path.str.contains(r'java').sum()
total

72764

In [102]:
#amount  files java BY author  

#author=commit_data.author.str.contains(r'Andrew Audibert').sum()
#author

In [103]:
#BY author  by Author  Java

author = commit_data[commit_data['path'].str.contains('java') & commit_data['author'].str.contains('Andrew Audibert')]
#author=commit_data.author.str.contains(r'Andrew Audibert').sum()
author=author.author.str.contains('Andrew Audibert').sum()
author

6723

In [104]:
Java=round((author/ total)*100, 2)
Java

9.24

In [105]:
#amount  files GO in total 
total=commit_data.path.str.contains(r'go').sum()
total

110

In [106]:
#amount  files GO by Author 
author = commit_data[commit_data['path'].str.contains('go') & commit_data['author'].str.contains('Andrew Audibert')]
#author=commit_data.author.str.contains(r'Andrew Audibert').sum()
author=author.author.str.contains('Andrew Audibert').sum()
author

103

In [107]:
Go=round((author/ total)*100, 2)
Go

93.64

In [108]:
#Export results 
commit_data.to_csv("resultt.csv",index=False)

#amount  files CSS in total 
total=commit_data.path.str.contains(r'css').sum()
total

108

In [109]:
#amount  files CSS by Author 
author = commit_data[commit_data['path'].str.contains('css') & commit_data['author'].str.contains('Andrew Audibert')]
#author=commit_data.author.str.contains(r'Andrew Audibert').sum()
author=author.author.str.contains('Andrew Audibert').sum()
author

1

In [110]:
css=round((author/ total)*100, 2)

In [111]:
#amount  files HTML in total 
total=commit_data.path.str.contains(r'html').sum()

#amount  files CSS by Author 
author = commit_data[commit_data['path'].str.contains('html') & commit_data['author'].str.contains('Andrew Audibert')]
#author=commit_data.author.str.contains(r'Andrew Audibert').sum()
author=author.author.str.contains('Andrew Audibert').sum()

In [112]:
html=round((author/ total)*100, 2)

In [113]:
#amount  files JSP in total 
total=commit_data.path.str.contains(r'jsp').sum()

author = commit_data[commit_data['path'].str.contains('jsp') & commit_data['author'].str.contains('Andrew Audibert')]
author=author.author.str.contains('Andrew Audibert').sum()

jsp=round((author/ total)*100, 2)

In [114]:
#amount  files JS in total 
total=commit_data.path.str.contains(r'js').sum()

author = commit_data[commit_data['path'].str.contains('js') & commit_data['author'].str.contains('Andrew Audibert')]
author=author.author.str.contains('Andrew Audibert').sum()

js=round((author/ total)*100, 2)

In [115]:
#amount  files Python in total 
total=commit_data.path.str.contains(r'py').sum()
author = commit_data[commit_data['path'].str.contains('py') & commit_data['author'].str.contains('Andrew Audibert')]
author=author.author.str.contains('Andrew Audibert').sum()

py=round((author/ total)*100, 2)
#print("py: "+py)
#total
#author

In [116]:
#amount  files PHP in total 
total=commit_data.path.str.contains(r'php').sum()
author = commit_data[commit_data['path'].str.contains('php') & commit_data['author'].str.contains('Andrew Audibert')]
author=author.author.str.contains('Andrew Audibert').sum()

php=round((author/ total)*100, 2)

/home/johnatan/.local/lib/python3.6/site-packages/ipykernel_launcher.py:6: RuntimeWarning: invalid value encountered in long_scalars

In [117]:
#amount  files Ruby in total 
total=commit_data.path.str.contains(r'rb').sum()
author = commit_data[commit_data['path'].str.contains('rb') & commit_data['author'].str.contains('Andrew Audibert')]
author=author.author.str.contains('Andrew Audibert').sum()

rb=round((author/ total)*100, 2)

In [118]:
#amount  files C in total 
total=commit_data.path.str.contains(r'c').sum()
author = commit_data[commit_data['path'].str.contains('c') & commit_data['author'].str.contains('Andrew Audibert')]
author=author.author.str.contains('Andrew Audibert').sum()

c=round((author/ total)*100, 2)

In [119]:
#amount  files C++ in total 
total=commit_data.path.str.contains(r'cpp').sum()
author = commit_data[commit_data['path'].str.contains('cpp') & commit_data['author'].str.contains('Andrew Audibert')]
author=author.author.str.contains('Andrew Audibert').sum()

cpp=round((author/ total)*100, 2)

/home/johnatan/.local/lib/python3.6/site-packages/ipykernel_launcher.py:6: RuntimeWarning: invalid value encountered in long_scalars

In [120]:
import pandas as pd 
  
# intialise data of lists. 
data = {'Name':['Andrew Audibert', 'Andrew Audibert', 'Andrew Audibert', 'Andrew Audibert', 'Andrew Audibert', 'Andrew Audibert', 'Andrew Audibert', 'Andrew Audibert', 'Andrew Audibert', 'Andrew Audibert', 'Andrew Audibert'], 'Language':['Java', 'Go', 'CSS', 'HTML','JSP','Javascript','Python','PHP','Ruby','C','C++'],'%':[Java, Go, css, html,jsp,js,py,php,rb,c,cpp]} 
  
# Create DataFrame 
df = pd.DataFrame(data) 


import pandas as pd
import numpy as np

# for column
#df['%'] = df['%'].replace(np.nan, 0)
# Print the output. 
df

               Name    Language      %
0   Andrew Audibert        Java   9.24
1   Andrew Audibert          Go  93.64
2   Andrew Audibert         CSS   0.93
3   Andrew Audibert        HTML   5.47
4   Andrew Audibert         JSP   0.90
5   Andrew Audibert  Javascript   1.03
6   Andrew Audibert      Python   0.00
7   Andrew Audibert         PHP    NaN
8   Andrew Audibert        Ruby   4.90
9   Andrew Audibert           C   7.10
10  Andrew Audibert         C++    NaN

In [121]:
final_df=df.sort_values(by=['%'], ascending=False)
final_df

               Name    Language      %
1   Andrew Audibert          Go  93.64
0   Andrew Audibert        Java   9.24
9   Andrew Audibert           C   7.10
3   Andrew Audibert        HTML   5.47
8   Andrew Audibert        Ruby   4.90
5   Andrew Audibert  Javascript   1.03
2   Andrew Audibert         CSS   0.93
4   Andrew Audibert         JSP   0.90
6   Andrew Audibert      Python   0.00
7   Andrew Audibert         PHP    NaN
10  Andrew Audibert         C++    NaN

In [122]:
df.groupby('Name').size()

Name
Andrew Audibert    11
dtype: int64